<form method="POST" action="/login" autocomplete="off">
  <div style="margin-bottom: 1em;">
    <label for="username">Nom d'utilisateur</label><br>
    <input id="username" name="username" placeholder="Nom d'utilisateur" required autocomplete="username">
  </div>

  <div style="margin-bottom: 1em;">
    <label for="password">Mot de passe</label><br>
    <input id="password" name="password" type="password" placeholder="Mot de passe" required autocomplete="current-password">
  </div>

  <button type="submit">🔐 Connexion</button>
  <p style="margin-top: 1em;">
    <a href="/register">Créer un compte</a>
  </p>
</form>
